
.button {
    width: 266px;
    height: 38.23241424560547px;
    top: 459px;
    left: 750px;
    border-radius: 7.236366271972656px;
    border-width: 0;

    
    background-color: #FD6262;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}
    