.Container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    border: solid green 2px;
}



.CardContainer {

    background-color: black;

    width: 557px;
    height: 480px;
    top: 138px;
    left: 605px;
    border-radius: 8.9px;
    border: solid #5F5F5F 1.78px;

}

.formWrapper {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* border: solid yellow 2px; */
    margin: 1rem;
}


.Title {
    font-family: 'Inter' , sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: #FD6262;

}

.inputDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 315px;

    
    /* border: solid purple 2px */
}


.Input {
    width: 315px;
    height: 34px;
    top: 282px;
    left: 726px;
    border-radius: 9px;

    border: 0;
    resize: none;
    outline: none;
    border-radius: 8px;
    color:#5F5F5F;
    margin-top: 1rem;

}

.strongDiv {
    display: flex;
    justify-content: flex-start;
    width: 315px;

    margin-top: 0.7rem;

    /* border: solid green 2px */
}

.inputStrong {

    color: #FFFFFF;
    font-family: 'Inter' , sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;

}
