
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 html {
   @media(max-width:1080px) {
    font-size: 93.75%;
   }

   @media(max-width:720px) {
    font-size: 87.5%;
   }
 }


 body {
    background-color: #131313
 }

 button {
    cursor: pointer;
 }


 body, button , input , textarea {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
 }
    






